@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,300&display=swap');

$quoteTextSize:4vh;
$authorTextSize:3vh;
$footerTextSize:2vh;

body {
  background-color:#333;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  min-height:95vh;
  //overflow:hidden;
  
  @media (max-width:320px){
     width:320px;
  }
  
  #quote-wrapper{
    background-color:black;
    color:white;
    min-height:20%;
    min-width:100px;
    max-width:40%;
    margin-bottom:10vh;    
    
    @media (max-width:320px){
      width:100%;
      margin-bottom:30vh;
    }
    
    a{
      color:white;
      display:block;
      font-size:4vh;
      margin-top:10px;
      margin-bottom:0;
      //outline:1px solid red;
      text-align:center;
    }
    
    #quote-content{
      margin:0 -60px 0 -60px;
      font-size:$quoteTextSize;
      text-shadow:1px 1px black;
      font-family:'Berkshire Swash',cursive;
      text-align:center;
      //outline:1px solid green;
      
      #author{
        font-family:'Josefin Slab',cursive;
        font-size:$authorTextSize;
      }
    }
    
    #new-quote{
      display:block;
      color:white;
      text-align:center;
      margin-bottom:10px;
      font-size:3vh;
    }
    
  }
  
  footer {
    position:fixed;
    display:flex;
    justify-content:space-around;
    align-items:center;
    color:white;
    font-family:'Share Tech Mono',monospace;
    font-size:$footerTextSize;
    bottom:0;
    left:0;
    height:5vh;
    min-height:20px;
    width:100%;
    background-color:black;

    @media (max-width:1000px) and (orientation:portrait){
      font-size:2vw; 
    }

    @media (max-width:320px) and (orientation:portrait){
      flex-direction:column;
      justify-content:end;
      font-size:1.5vh;
      height:25vh;
      bottom:0;
    }


    @media (max-width:320px){
      position:fixed;
      width:320px;
    }

    a{
      font-weight:bold;
      color:#51A3A3;
      text-decoration:none;
    }
    a:hover{
      font-size:1.5em;
    }
  }

}